.backBtn {
    width: 120px;
    height: 40px;
    font-size: 20px;
}

.detaliesBtn {
   
    width: 120px;
     height: 40px;
    font-size: 20px;
}

.boxBtn {
    display: block;
}

.detaliesContener {
    display: flex;
}

.detaliesImg {
   
    height: 600px;
}

.detalies {
    display: block;
    margin-right: 10px;
    width: 600px;
}

.detaliesImg {
    display: block;
    margin-right: 10px;
}

.overview {
    font-size: 25px;
}

.detaliesTitle {
    font-size: 50px;
}

.title {
    font-size: 35px;
}

.content {
    font-size: 15px;
    
}
.author {
    font-size: 25px;
}

.listReviews {
    list-style: none;
}